pytz==2017.3
setuptools==25.1.6
redis==2.10.6
django_pjax==1.4
web.py==0.38
celery==3.1.25
socialoauth==0.3.3
BeautifulSoup==3.2.1
ipython==6.2.1
Pillow==5.0.0
django_appconf==1.0.2
bpython==0.17.1
beautifulsoup4==4.6.0
futures==3.2.0
cx_Oracle==6.2.1
django_celery==3.2.2
docutils==0.14
html5lib==1.0.1
python_memcached==1.59
mock==2.0.0
django_model_utils==3.1.1
numpy==1.14.2
psycopg2==2.7.4
pyinotify==0.9.6
pylibmc==1.5.2
adhocracy_pysqlite==2.6.3
sqlparse==0.2.4
tblib==1.3.2
web==0.6.0
PyYAML==3.12
