{% load form_tags %}

{% if field.is_hidden %}
    {{ field }}
{% elif field|is_honeypot %}
    {% include "users/partials/honeypot.html" %}
{% else %}
    <!--<div class="form-group">-->
        <div class="field-wrapper form-group {{ field|input_class }}
                {{ field.css_classes }}{% if field|is_checkbox %} checkbox{% endif %}">
            {% if field.errors %}
                <ul class="errorlist">
                    {{ field.errors|unordered_list }}
                </ul>
            {% endif %}
            {% if field|is_checkbox %}
                {{ field }}
            {% endif %}
            <div class="col-md-12">
                <label for="{{ field.id_for_label }}"{% if field.field.required %} class="required col-sm-2 control-label"{% endif %}>
                    {% if field.id_for_label == 'id_password' %}
                        密码
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                    {% if field.field.required %}<span class="asterisk">*</span>{% endif %}
                </label>
                <div class="col-sm-10 logininput">

                    {% if not field|is_checkbox %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <div class="help_text">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    <!--</div>-->
{% endif %}
