{% extends "base.html" %}
{% load i18n staticfiles %}
{% block content %}
    <script src="{% static "js/crm/main.js" %}"></script>
    <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
            <li>
                <span>商户号: {{ merchant }}</span>
            </li>
            <li>
                <form class="navbar-form">
                    <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
                    <span class="btn btn-default">Go</span>
                </form>
            </li>
            <li><a href="index.html"><i class="fa fa-home"></i>{{ merchant }}</a></li>
            <li class="sub">
                <a href="javascript:;">
                    <i class="fa fa-users"></i> 会员信息管理
                    <div class="pull-right"><span class="caret"></span></div>
                </a>
                <ul class="templatemo-submenu">
                    <li><a data-pjax href="{% url 'content_manager' %}">会员信息管理</a></li>
                </ul>
            </li>
            <li class="sub">
                <a href="#">
                    <i class="fa fa-cubes"></i> 缴费项目管理
                    <div class="pull-right"><span class="caret"></span></div>
                </a>
                <ul class="templatemo-submenu">
                    <li><a href="{% url 'prj_manager' %}">新增项目</a></li>
                    <li><a href="#">项目查询</a></li>
                </ul>
            </li>
            <li class="sub">
                <a href="javascript:;">
                    <i class="fa fa-cubes"></i> 缴费明细查询
                    <div class="pull-right"><span class="caret"></span></div>
                </a>
                <ul class="templatemo-submenu">
                    <li><a data-pjax href="{% url 'ordermanager' %}">订单查询</a></li>
                    <li><a href="#">支付订单查询</a></li>
                </ul>
            </li>
            <li class="sub">
                <a href="javascript:;">
                    <i class="fa fa-cubes"></i> 报表管理
                    <div class="pull-right"><span class="caret"></span></div>
                </a>
                <ul class="templatemo-submenu">
                    <li><a href="#">缴费报表</a></li>
                    <li><a href="#">汇总报表</a></li>
                </ul>
            </li>

            <li><a href="maps.html"><i class="fa fa-map-marker"></i><span class="badge pull-right">42</span>列表3</a></li>
            <li><a href="#"><i class="fa fa-users"></i><span class="badge pull-right">NEW</span>列表4</a>
            </li>
            <li><a href="{% url 'preferences' %}"><i class="fa fa-cog"></i>设置</a></li>
            <li><a href="accounts/logout" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>退出登陆</a>
            </li>
        </ul>
    </div>
    <div id="pjax-container" class="templatemo-content-wrapper">
    {% block sidebarcontent %}
    {% endblock sidebarcontent %}
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'users_logout' %}" class="btn btn-primary">Yes</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

