{% extends "mobile/mbase.html" %}
{% load i18n staticfiles %}
{% block content %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ project.name }}</div>
        <div class="panel-body">
            <p>测试测试测试</p>
        </div>

        <!-- Table -->
        <form id="formSearch" method="POST" class="form-horizontal" action="#">
            <div class="form-group" style="margin-top: 15px">
                {% csrf_token %}
                {% for field in form %}
                    {% include "partials/qfield.html" %}
                {% endfor %}
            <li role="separator" class="divider" style="width:100%"></li>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-default">付款</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}